.site_topbar {
    transition: all 2s; /* 动画 */
    background-color: black;
    height: 40px;
}

.info > a {
    color: #b0b0b0;
    text-decoration: none;
    line-height: 40px;
    font-size: 3px;
}

.info > a:hover {
    color: white;
}

.info > span {
    color: #424242;
}

/* 导航栏 */
.site_topbar .left_info {
    float: left;
}

/* 登录注册之类的 */
.site_topbar .right_info {
    float: right;
}


/* 购物车相关 */
.right_info > .buy_car {
    display: inline-block;
    position: relative;
    margin: 0 50px;
}

.buy_car img {
    position: absolute;
    left: -20px;
    top: 10px;
    width: 20px;
}

.buy_car > .buy_car_menu {
    width: 222px;
    right: -20%;
    top: 100%;
    height: 0;
    position: absolute;
    background-color: white;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 #424242;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear 0.3s;
}

.buy_car:hover .buy_car_menu {
    opacity: 1;
    visibility: visible;
    height: 100px;
}

.buy_car:hover .buy_car_text {
    color: white;
}

.hover_buy_car {
    visibility: hidden;
}

.buy_car:hover .hover_buy_car {
    visibility: visible;
}


/* 购物车相关 结束*/


/* 第三行的sitebar */
.site_header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.home_logo {
    background-color: orange;
    width: 55px;
    height: 55px;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    cursor: pointer;
}

.home_logo > img {
    position: absolute;
    transition: all 0.5s;
}

.home_logo > .before {
    left: -49px;
}

.home_logo > .after {
    left: 0;
}

.home_logo:hover .before {
    left: 0;
}

.home_logo:hover .after {
    left: 49px;
}


.home_nav {
    width: 650px;
    height: 100%;
}

.row_list {
    display: flex;
    flex-direction: row;
}

.row_list > li {
    flex-grow: 1;
    list-style: none;
    line-height: 100px;
}

.row_list a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.row_list li:hover a {
    color: orangered;
}

/* 隐藏的那个盒子 */
.row_menu {
    position: absolute;
    top: 100%;
    height: 0;
    background-color: white;
    left: 0;
    width: 100%;
    z-index: 100;
    border: none;

    /* 隐藏 */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear 0.3s;
    box-shadow: 0 2px 2px black;
}

.row_list li:hover .row_menu {
    height: 200px;
    opacity: 1;
    visibility: visible;
}
/* 隐藏的那个盒子结束 */

.commodity_list {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.commodity_list li {
    margin-right: 20px;
}

.commodity_list p {
    margin: 0;
    text-align: center;
    line-height: 15px;
}

.commodity_list img {
    margin-top: 10px;
}

.commodity_list .name {
    font-weight: 700;
    font-size: 12px;
}

.commodity_list .cash {
    color: orangered;
    font-size: 10px;
    font-weight: 700;
}


.home_search {
    position: relative;
    display: inline-block;
    height: 55px;
    /*overflow: hidden;*/
}

.home_search .search_input {
    line-height: 48px;
    position: absolute;
    bottom: 0;
    right: 47px;
    border: 1px solid silver;
}

.home_search .search_button {
    position: absolute;
    right: 0;
    top: 5px;
    height: 50px;
    border: 1px solid;
    border-color: #b0b0b0 #b0b0b0 #b0b0b0 transparent;
    transition: background-color 0.5s;
}

.home_search .search_button:hover {
    background-color: orangered;
}

