.home_swiper {
    width: 100%;
    height: 420px;
}

.home_swiper .home_banner {
    position: absolute;
    width: 1226px;
    height: 420px;
    z-index: -1;
}

.home_left_sitebar {
    width: 234px;
    height: 420px;
    background-color: rgba(105,101,101,.6);
    float: left;

    position: relative;  /* 给侧边弹出的盒子做相对定位 */
}

.home_left_sitebar .category_list {
    list-style: none;
    display: flex;
    flex-direction: column;
}


.home_left_sitebar .category_item {
    height: 42px;
    flex-grow: 1;
    padding-left: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.category_item:hover {
    background-color: #ff6700;
}

.category_item > a {
    color: white;
    text-decoration: none;
    line-height: 40px;
}


.item_menu {
    position: absolute;
    height: 100%;
    background-color: white;
    width: 992px;
    left: 100%;
    top: 0;
    z-index: 200;
    display: none;
}

.item_menu > .flex-box {
    display: flex;
    flex-wrap: wrap;
}


.category_item:hover .item_menu {
    display: block;
}

.item_menu_item {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_menu_item a{
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 10px;
}


.icon_right {
    width: 20px;
    margin: 10px;
    float: right;
}

/* 主页banner相关 */
.home_right_banner {
    width: calc(1226px - 234px);
    height: 420px;
    float: left;
    position: relative;
}

.home_right_banner > div {
    position: absolute;
}


.home_right_banner .banner_prev {
    height: 69px;
    width: 41px;
    left: 0;
    top: 45%;
    background-image: url("../img/icon/prev_banner_img.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20%;
    cursor: pointer;
    background-color: #b0b0b0;
    opacity: 0.3;
}

.home_right_banner .banner_next {
    height: 69px;
    width: 41px;
    right: 0;
    top: 45%;
    background-image: url("../img/icon/next_banner_img.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20%;
    cursor: pointer;
    background-color: #b0b0b0;
    opacity: 0.3;
}

.home_right_banner .banner_prev:hover {
    background-image: url("../img/icon/prev_banner_img_hover.png");
}

.home_right_banner .banner_next:hover {
    background-image: url("../img/icon/next_banner_img_hover.png");
}


/* 下方小swiper 和 small img banner */
.home_link_banner {
    width: 100%;
    height: 170px;
}

.home_link_banner > .home_link {
    width: 234px;
    height: 100%;
    background-color: #757575;
    float: left;
}

.home-channel-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.home-channel-list > li {
    width: 76px;
    height: 76px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-channel-list > li > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-channel-list img {
    width: 30px;
    height: 30px;
}

.home-channel-list a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 12px;
    font-weight: 700;
}

.home-channel-list-link img{
    bottom: 100%;
}

.active-link {
    position: relative;
}

.active-link img {
    position: absolute;
}

.active-link .list-before {
    display: none;
}

.active-link:hover .list-before {
    display: block;
}

.active-link:hover .list-after {
    display: none;
}

.white_active_hover:hover span {
    color: white;
}

.orangered_active_hover:hover span {
    color: orangered;
}



.home_link_banner > .home_small_banner {
    width: calc(1226px - 15px - 234px);
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
}

.home_small_banner > img {
    width: 316px;
    display: block;
    flex-grow: 1;
}


